/* app css stylesheet */
body {
    background-color: #F0F0F0;
}
#title {
    margin: 0px;
}
.btn {
    border-radius: 20px;
}
#preview{
    left: 0;
    right: 0;
    width: auto;
    margin: 0 auto;
    max-width: 80%;
    padding: 10px;
    background-color: black;
}
.info {
    top: 0px;
    left: 0px;
    text-align: left;
    position: absolute;
    color: white;
    opacity: 0.8;
    display: none;
    width: 100%;
    background-color: black;
}
.info a{
    color: white;
}
.info p {
    margin: 5px;
    font-family: helvetica;
}
.bold {
    font-weight: bold;
}
.img-container {
    position: relative; 
    background-color: white;
    padding: 5px;
    float: left;
    margin-bottom: 4%;
    box-shadow: 3px 3px 3px 3px #888888;
    text-align: center
} 
.img-container img{
    cursor: pointer;
}
p .brand {
    padding: 0px;
}
.comments {
    color: black;
}
.animate-enter {
	-webkit-transition: 3s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
.animate-enter.animate-enter-active {
	opacity: 1;
}
