/* app css stylesheet */

img {
    margin-top: 3%; 
    float: left;
}

.img-container {
    padding: 10px;
    float: left;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px 3px #888888;
    text-align: center
}

.comments {
    color: black;
}
