<!--<div class='navbar'>-->
    <!--<div class="navbar-inner">-->
        <!--<a href="#/mobile"><p class="brand" id='title'>Imagg</p></a>-->
        <!--<ul class="nav">-->
          <!--<li><a href="#/about">About</a></li>-->
        <!--</ul>-->
        <!--<form class="navbar-form">-->
            <!--<input id="subreddit" type="text" ng-model="subreddit" placeholder="Input subreddit name(s) e.g. pics+gaming"/>-->
            <!--<a href="#/mobile/r/{{subreddit}}"><button class="btn"><i class='icon-th'></i>Choose</button></a>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<img id='preview' class="modal hide" data-keyboard='false'>
<div class="container">
    <div class="row" infinite-scroll="loadMore()" infinite-scroll-disabled='busy' infinite-scroll-distance="1">
        <span class="img-container" ng-repeat="red in mobilePics" ng-animate="'animate'">
            <a href="{{red.url}}"><img ng-src="{{red.urlpre}}" alt="{{red.urllarge}}"></img></a>
            <div class='caption'>
                <p><a class="bold" href="{{red.url}}">{{red.title}}</a></p>
                <p><a href="{{red.comments}}">Comments: {{red.num_comments}}</a></p>
            </div>
        </span>
    </div> 
</div> 
